*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,{
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
}

#title, .card-title, .card-text {
    color: rgb(255, 255, 255);
}

#searched-cities li:hover{
  cursor: pointer;
}

#locale {
  font-size: calc(1.2em + 2vw);
}

.list-group-item {
  background-color: transparent;

}
.jumbotron{
  height: 60%;
  padding: 20px;
}