*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,{
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    color: rgb(255, 255, 255);
}

.container{
    width:100%;
    margin: 0;
}
